@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}


*, :before, :after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

*::-webkit-scrollbar {
    background-color: transparent;
    height: 12px;
    width: 12px;
}


*::-webkit-scrollbar-corner {
    background-color: transparent;
}


*::-webkit-scrollbar-thumb {
    transition: background .2s ease-in-out;
    border: 3px solid transparent;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    --tw-bg-opacity: 1;
    background-color: rgba(229,231,235,1);
    border-radius: 9999px;
}

.dark *::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: rgba(50,50,50,1);
}
